    <!-- CONTACT DETAILS SECTION    -->
    <section class="pulled-up-section">
      <div class="container text-center">
        <div class="card shadow with-pattern-full">
          <div class="card-body py-5 p-md-5 index-forward">
            <div class="row">
              <div class="col-md-4 mb-4 mb-lg-0">
                <div class="icon-block icon-block-lg mb-4 mx-auto">
                  <svg class="svg-icon text-primary">
                    <use xlink:href="#landline-1"> </use>
                  </svg>
                </div>
                <h3 class="h4">Телефон</h3>
                <ul class="list-unstyled mb-0">
                  <li class="text-muted"><a class="reset-anchor" href="tel:+79278035888">+7 927 803 5888</a></li>
                  <li class="text-muted"><a class="reset-anchor" href="tel:+79020074040">+7 902 007 4040</a></li>
                </ul>
              </div>
              <div class="col-md-4 mb-4 mb-lg-0">
                <div class="icon-block icon-block-lg mb-4 mx-auto">
                  <svg class="svg-icon text-primary">
                    <use xlink:href="#envelope-1"> </use>
                  </svg>
                </div>
                <h3 class="h4">Электронная почта</h3>
                <ul class="list-unstyled mb-0">
                  <li class="text-muted"><a class="reset-anchor" href="mailto:ag8035888@yandex.ru">ag8035888@yandex.ru</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="icon-block icon-block-lg mb-4 mx-auto">
                  <svg class="svg-icon text-primary">
                    <use xlink:href="#pin-1"> </use>
                  </svg>
                </div>
                <h3 class="h4">Адрес</h3>
                <ul class="list-unstyled mb-0 px-5">
                  <li class="text-muted"><a class="reset-anchor" href="#">Мой адрес Советский Союз</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>