{% load static %}
<footer class="map-bg">
    <div class="container py-5 border-bottom">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"><img class="mb-3" src={% static "img/logo.png" %} alt="" width="80">
                <ul class="list-unstyled text-muted" id="our-contacts-id">
                    <li><a class="reset-anchor text-small" href="mailto:ag8035888@yandex.ru">ag8035888@yandex.ru</a>
                    </li>
                    <li><a class="reset-anchor text-small" href="tel:+79278035888">+7 927 803 5888</a></li>
                    <li><a class="reset-anchor text-small" href="tel:+79020074040">+7 902 007 4040</a></li>

                </ul>
{#                <ul class="list-inline text-muted">#}
{#                    <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                    </li>#}
{#                    <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a>#}
{#                    </li>#}
{#                    <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h4>Карта сайта</h4>
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-1"><a class="text-small reset-anchor" href="#">Главная</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" href="#">Контакты</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" href="#">Оставить заявку на перевозку</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" href="#">Вакансии для водителей</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <iframe scrolling="no" width="100%" height="220" frameborder="0"
                        src="https://ati.su/widgets/ati-block/?id=2890492"></iframe>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <iframe scrolling="no" width="100%" height="220" frameborder="0"
                        src="https://ati.su/widgets/ati-block/?id=1563777"></iframe>
            </div>
        </div>
    </div>

</footer>