{% load static %}
{% load crispy_forms_tags %}
<!-- GET a QUOTE MODAL -->
<div class="modal fade" id="quoteForm" tabindex="-1" role="dialog" aria-labelledby="quoteForm" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-md-3" id="orderSuccess">
            <div class="modal-header">

                <h4 class="modal-title">Создать <span class="text-primary">заявку</span></h4>

                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-header"><p class="text-info text-sm-center"><span>* выделены поля обязательные к заполнению</span>
            </p></div>
            <div class="modal-body" id="order_block">
                <div class="row">
                    <script src='https://www.google.com/recaptcha/api.js'></script>

                    {% crispy form %}


                </div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
    <script>
        const formIdElement = document.getElementById('orderFormId');
        formIdElement.addEventListener('submit', handleFormSubmit)
        const orderBlock = document.getElementById('orderSuccess')
        function handleFormSubmit(event) {
            event.preventDefault()
            const myForm = event.target
            const myFormData = new FormData(myForm)
            const url = '{%  url "get_order" %}'
            const method = 'post'

            const xhr = new XMLHttpRequest();

            xhr.open(method, url)
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
            xhr.send(myFormData)
            xhr.onerror = function () {
                alert('Подтвердите что вы не робот.')
            }
            xhr.onload = function() {
               if (xhr.status != 200)
            alert('Неужели вы забыли подтвердить что вы не робот?')
               else
            orderBlock.innerHTML = ('<div class="modal-header text-center">' +
                    '<h4 class="modal-title text-center" >' +
                    'Заявка успешно принята. ' +
                    '<span class="text-primary">' +
                    ' Мы свяжемся с вами в ближайшее время '
                    + '</span>' +
                    '</h4>' +
                    '<button class="close" type="button" data-dismiss="modal" aria-label="Close">' +
                    '<span aria-hidden="true">' + '×' + '</span>' + '</button>' + '</div>')

}
        }

    </script>
{% endblock %}
