{% load static %}
<section class="py-5 bg-primary map-bg text-white">
      <div class="container text-center py-5">
        <div class="row mb-4">
          <div class="col-lg-7 mx-auto">
            <p class="h6 text-uppercase">Сотрудничество</p>
            <h2>Мы выполняем принятые на себя обязательства</h2>
            <p>Доставка вашего груза - наша цель и ответственность</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card border-0 card-hover-bg">
              <div class="card-body p-lg-5">
                <svg class="svg-icon svg-icon-big svg-icon-light mb-4" type="button" data-target="#quoteForm" data-toggle="modal">
                  <use xlink:href="#survey-1" > </use>
                </svg>
                <h4>Заявка </h4>
                <p class="text-small mb-0">Оставьте заявку или воспользуйтесь одним из наших контактных телефонов</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-0 card-hover-bg">
              <div class="card-body p-lg-5">
                <svg class="svg-icon svg-icon-big svg-icon-light mb-4" type="button" data-toggle-id="our-contacts-id">
                  <use xlink:href="#calls-1"> </use>
                </svg>
                <h4>Обсуждение </h4>
                <p class="text-small mb-0">После получения заявки мы с вами обсуждаем детали заказа и условия сотрудничества</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-0 card-hover-bg">
              <div class="card-body p-lg-5">
                <svg class="svg-icon svg-icon-big svg-icon-light mb-4">
                  <use xlink:href="#checked-window-1"> </use>
                </svg>
                <h4>Выполнение </h4>
                <p class="text-small mb-0">Ваш груз переходит под нашу ответственность</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>